# ignoring installed files

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
doc/Doxyfile
examples/.deps/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
models/
package_version
rnnoise-uninstalled.pc
rnnoise.pc
rnnoise_data-0a8755f8e2d834eff6a54714ecc7d75f9932e845df35f8b59bc52a7cfe6e8b37.tar.gz
src/.deps/
src/rnnoise_data.c
src/rnnoise_data.h
src/rnnoise_data_little.c
src/rnnoise_data_little.h
src/x86/.deps/
stamp-h1
.libs/
dump_features
dump_weights_blob
examples/.dirstamp
examples/.libs/
examples/rnnoise_demo
librnnoise.la
src/.dirstamp
src/celt_lpc.lo
src/denoise.lo
src/kiss_fft.lo
src/nnet.lo
src/nnet_default.lo
src/parse_lpcnet_weights.lo
src/pitch.lo
src/rnn.lo
src/rnnoise_data.lo
src/rnnoise_tables.lo